<br>
<%= form_for @user, url: orders_path(@order) do |f| %>

    <div>
      <%= f.label :user_id %>
      <%= f.text_field :user_id, value:  @user.id %>
    </div>

    <div>
      <%= f.fields_for :order do |order| %>
      <%= order.label :title%>
      <%= order.text_field :title %>
      <% end %>
    </div>

<%= f.submit "Добавить" %>

<% end %>