<% if current_user.admin %>
    <h1>Админ страница</h1>
    <% @users.each do |user| %>
        <div class="container"><div class="row">
        <div class="col-md-6 menu-card">
          <table style="width:50%" class="table table-bordered">
            <tr>
              <th>Заказ</th>
              <th>Статус</th>
            </tr>
        <%= user.name %> <br>
        <% @orders.where(user_id: user.id).each do |order| %>
            <tr>
              <td><%= order.title %></td>
              <td><%= order.delivered %></td>
            </tr>
            <% end %> <br>
          </table>
        <%= link_to "Добавить заказ", assign_path(user) %> <br>
        </div>
        </div>
        </div>
        <% end %>
    <% else %>
    <h1>Страница курьера</h1>
    <% @orders.where(user_id: current_user.id).each do |order| %>
        <%= order.title %>
        <%= order.delivered %>
        <% unless order.delivered? %>
        <%= link_to "Кликни если доставлено", delivered_path(order) %> 
        <% end %> <br>
    <% end %>
    <% end %>
