<h1>Hello</h1>
<div>
      <table style="width:50%">
        <tr>
          <th>Название заказа</th>
          <th>Статус заказа</th>
          <th>На ком сейчас заказ</th>
        </tr>
        <% @orders.each do |order| %>
        <tr>
          <td><%= order.title %></td>
          <td> <%= order.delivered %></td>
          <% if order.user.admin? %>
              <td> <%= 'Курьер не назначен' %> <%= link_to 'Назначить курьера', edit_orders_path(order) %></td>

          <% else %>
              <td> <%= order.user.name %><%= link_to 'Назначить курьера', edit_orders_path(order) %></td>
        <%end %>
        </tr>
        <% end %>
      </table>
</div>
